<!-- Post details page -->

<h1> <%= @post["title"]%> </h1>

<ul>
  <li> <%= @post["description"] %> </li>
</ul>

<p><%= button_to "Delete this post", @post, :method => "delete" %></p>

<p><a href="/places>">Back to places </a></p>